.navbar-light .navbar-brand{
    color: black;
    font-family: 'Ubuntu',sans-serif;
}
.navbar-light .navbar-brand:hover{
    color: rgb(20, 81, 248);
}
.mynav>a:hover{
    text-decoration: none;
}
.navbar-light .navbar-nav .nav-link{
    color: black;
    font-family: 'Ubuntu',sans-serif;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: rgb(26, 76, 240);
}
.myh1{
    font-family: 'Mitr', sans-serif;
    font-size: 7vmax;
    color: #081E57;
    font-style: bold;
    padding-left: 20px;
    
    
}
.myh2{
    font-family: 'Mitr', sans-serif;
    font-size: 5vmax;
    color: #FA5D2C;
    padding-left: 20px;
    padding-bottom: 30PX;
    

    
}
.prod{
    background-image: linear-gradient(to bottom right,rgb(36, 170, 24),rgb(172, 236, 204));
    padding: 10px;
    border-radius: 25px;
    color: #081E57;
    margin: 20px;
}
.prod:hover{
    text-decoration: none;
    background-image: linear-gradient(to bottom right,yellow,orange);
}
.btn-primary{
    color: #ffffff;
    background-color: #081E57;
}
.heading{
    margin-LEFT: 50px;
}
.main{
    margin-top: 60px;
    padding-bottom: 500px;
}
.model{
    size: 4vmax;
    position: absolute;
    left: 100px;
}
.leftimg{
    position: absolute;
    animation: rotation 3s infinite;
}
.rightimg{
    position: absolute;
    animation:rotation 3s infinite;
}
.headingimg{
    position: absolute;
}
@keyframes rotation{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(361deg);
    }
}
.first{
    height: 500px;
}
.polypink{
    top: 250px;
    left: -10px;
}
.polyyellow{
    top: 10;
    left: 350px;
}
.blue{
    top: 70px;
    left: 300px;
}
.yellow{
    top: 250px;
    left: 50px;
}
.pink{
    top: 400px;
    left: 350px;
}