*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}
body{
  width: 100vw;
}
.index{
  width: 100vw;
  background-image: radial-gradient(rgb(13, 40, 63),rgb(27, 27, 27));
}
#navbar{
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-end;
  width: 100vw;
  position: absolute;
}
#navbar>div{
  padding: 3vmin ;
}
#navbar>div>a{
  text-decoration: none;
  color: rgb(253, 253, 253);
  padding-right: 10px;
  
}
#navbar>div>a:hover{
  color: rgb(28, 124, 250);
}
h1{
  color: white;
}
p{
  color: white;
}
#welcomediv{
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
}
#my1{
  width: 50%;
  display: flex;
  height: 100vh;
  
}
#my2{
  width: 50%;
  display: flex;
  height: 100vh;
  
}
#snow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1000;
}
#sq1{
  position: absolute;
  width: 13vw;
  margin-top: 5vw;
  margin-left: 32vw;
  animation: rotation 3s infinite;
}
#sq2{
  position: absolute;
  width: 13vw;
  margin-top: 32vw;
  margin-left: 3vw;
  animation: rotation 3s infinite;
}
#me{
  position: absolute;
  width: 28vw;
  margin: 11vw;
  border-radius: 50px;
  
}
#sq3{
  position: absolute;
  width: 13vw;
  margin-left: 30vw;
  margin-top: 18vw;
  animation: rotation 3s infinite;
}
#gm{
  position: absolute;
  width: 28vw;
  margin: 18vw;
  margin-left: 15vw;
}
#gm>h1{
  font-size: 3vw;
  color: rgb(255, 255, 255);
  
  
}
#internshipshr{
  margin: 0 2vw;
  margin-top: 3vh;
}
#cv{
  color: white;
  background-color: rgb(2, 2, 129);
  padding: 10px;
  border-radius: 10px;
}
#cv:hover{
  color: rgb(2, 2, 129);
  background-color: white;
  
}
#occ{
  margin: 20vw;
  margin-top: 20vh;
  margin-bottom: 5vw;
  height: 40vh;
  background-color: rgba(255, 255, 255, 0.274);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 10px;

  
  /*overflow: hidden;
  animation: run ease-in-out 5s infinite;
  margin-top: 10vh;
  margin-bottom: 10vh;*/

}
#occ>div{
  display: flex;
  justify-content: center;
  align-items: center;
}
#occ>div>p{
  
  text-align: center;
  font-weight: 500;
  font-size: 1.5vw;
}
@keyframes rotation {
from {
transform: rotate(0deg);
}
to {
transform: rotate(361deg);
}
}
/*@keyframes run {
  0%{margin-left: -200vw;}
  50%{margin-left: -100;}
  100%{margin-left: 0vw;}
  
}*/


#contactdiv>h1{
  text-align: center;
  margin-top: 7vw;
}
#internshipsdiv{
  text-align: center;
  margin-top: 3vw;
}
#internships{
  display: flex;
  margin-top: 7vw;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 7vw;
}
#internships>div{
  display: flex;
  flex-direction: column;
  padding: 3vw;
  border-style: solid;
  border-radius: 20px;
  /*background-image: linear-gradient(45deg,rgb(7, 87, 124),rgb(150, 192, 247));*/
  border-color: white;
  justify-content: center;
  
}
#internshipsimg{
  margin-bottom: 3vh;
  width: 15vw;
}
#internships>div>a{
  margin-top: 3vh;
  padding: 10px;
  text-decoration: none;
  color: aliceblue;
  background-color: rgb(2, 13, 160);
  border-radius: 10px;
}
#internships>div>a:hover{
  background-color: white;
  color:rgb(2, 13, 160);
}
#contact{
  display: flex;
  margin-top: 7vw;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 7vw;
}

#contact>div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3vw;
  background-color: rgba(255, 255, 255, 0.308);
  border-radius: 10px;
  /*background-image: linear-gradient(45deg,rgb(7, 87, 124),rgb(150, 192, 247));
  border-color: white;*/
  
}
#contact>div>a>img{
  width: 6vw;
  justify-self: center;
  
}
#linkedin{
  margin-top: 6vw;
  margin-bottom: 5vw;
}
#contact>div>a{
  text-decoration: none;
  display: flex;
  
}
.project{
  display: flex;
}
.webdevdiv{
  margin-top: 10vh;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.webdevimg{
  width: 35vw;
}
.webdevh1{
  width: 50vw;
  font-size: 2.5rem;
  margin-bottom: 3vh;
  padding-left: 15vh;
}
.webdeva{
  font-size: 1.5rem;
  text-decoration: none;
  color: rgb(72, 144, 252);
  padding: 10px ;
  margin: 14vh;
}
.webdeva:hover{
  color: white;
  background-color: rgb(4, 56, 199);
  border-radius: 5px;
}
.uih1{
  padding-left: 15vw;
}
.uia{
  margin-left: 15vw;
}
.projecth1{
  font-size: 3rem;
  text-align: center;
}
@media only screen and (max-width:600px) {
  #welcomediv{
      height: 85vh;
  }
  #navbar{
    justify-content: center;
  }
  #my1{
      margin-top: 6vh;
      width: 100%;
      height: 40vh;
  }
  #my2{
      width: 100%;
      height: 40vh;
  }
  #me{
      width: 50vw;
      margin: 25vw;
      border-radius: 35px;
  }
  #sq1{
      width: 25vw;
      margin-left: 59vw;
      margin-top: 15vw;
  }
  #sq2{
      width: 20vw;
      margin-top: 60vw;
      margin-left: 17vw;
  }
  #gm{
      width: 50vw;
      margin: 25vw;
  }
  #gm>h1{
      font-size: 5vw;
  }
  #sq3{
      width: 27vw;
      margin-top: 25vw;
      margin-left: 55vw;
  }
  #occ{
    margin-top: 0vh;
  }
  #occ>div>p{
      font-size: 5vw;
  }
  #internships{
    flex-direction: column;
    margin: 20vw;
  }
  #internships>div{
    margin-bottom: 5vh;
    border-radius: 10px;
  }
  #internships>div>img{
    width: 50vw;
  }
  #projects>div>a>img{
  width: 80vw;
  border-radius: 10px;
}
  #projects>div{
      margin: 4vw 0;
  }
  #contact>div>img{
  width: 60vw;
  
}
  #contact>div{
      margin: 4vw 0;
  }
  .projecth1{
    font-size: 1.5rem;
  }
  .webdevdiv{
    flex-wrap: wrap;
  }
  .webdevh1{
    font-size: 2rem;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;    
    
  }
  .webdeva{
    font-size: 1.25rem;
    padding: 3vw;
    
    margin: 0;
    
    text-align: center;
    
  }
  .uidiv{
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  .webdevimg{
    width: 80vw;
  }
  .adiv{
    width: 100vw;
    padding: 5vh 0;
    text-align: center;
  }
  .uia{
    padding: 3vw;
    margin: 0;
    text-align: center;
    font-size: 1.25rem;
    display: block;
  }
  .uih1{
    margin: 0%;
  }
}
