*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    font: poppins;
}
#main{
    width: 100%;
    height: 50px;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.2);
}
.logo img{
    height: 45px;
}
.menu{
    list-style: none;
    display: flex;
}
.menu li a{
    
    margin: 0px;
    padding: 0px 20px;
    display: flex;
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    color: grey;
    padding: 10px;
    padding-left: 20px;
}
a{
    text-decoration: none;
}
.hey{
    color: #39bfbd;
    font-weight: 500;
    font-size: 0.9em;
    border-bottom: 2px solid #39bfbd;
    text-decoration: none;
}

.content{
    float: left;
    padding: 50px;
    padding-top: 200px;
}
.image img{
    width: 500px;
    
    
}
.main-text{
    
    padding: 50px;
    padding-top: 250px;
    padding-left: 700px;
}
.head{
    float: left;
    padding: 0px;
    margin: 0%;
    color: #1c3548;
    font-size: 3.5em;
}
.para{
    float: left;
}
.resume-btn{
    float: left;
    background-color: #39bfbd;
    padding: 5px;
    color: white;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 10px 30px rgba(24, 139, 139, 0.2);
}
.resume-btn:hover{
    background-color: #23cdaf;
    transition: all ease 0.2s;
}
.menu li a:hover{
    background-color: #23cdaf;
    color: white;
    box-shadow: 5px 10px 30px rgba(24, 139, 119, 0.2);
    transition: all ease 0.2s;
    
}