*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins;
    
}
body{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.navbar{
    height: 25vh;
}
.logosection{
    
    width: 50vw;
    height: 25vh;
    border-radius: 0 0px 20px 0;
    background-image: url("./images/logosecbg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: left;
    align-items: center;
    
    
    
}
.linksection{
    width: 50vw;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.atag{
    color: white;
    border-radius: 10px;
    border-style: solid;
    margin-right: 20px;
    padding: 10px;
    width: 10vw;
    text-align: center;
    border-width: 2px;
}
.admissiona{
    
    background-color: rgb(7, 71, 248);
    border-style: none;
    
}

.namebar{
    display: flex;
    width: 100vw;
    height: 17vh;
    background-color: #010680;
}
.logo{
    height: 10vw;
    margin-top: -5vh;
}
.clgname{
    margin-top: -5vh;
}
.clgname>h1{
    color: red;
}
.sliderwrap{
    display: flex;
}
.slider{
    background-color: rgb(255, 180, 180);
    margin-top: 5vh;
    width: 100vw;
    height: 60vh;
    display: flex;
}
.leftslider{
    width: 40vw;
    margin: 5vw;
    
}
.slideimg{
    height: 45vh;
    border-radius: 10px
    ;
}
.rightslider{
    background-color: rgb(255, 255, 255);
    width: 60vw;
    margin: 5vh;
    height: 50vh;
    border-radius: 20px;
    margin-right: -10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide {
    
    transition: opacity 3s ease-in-out;
    
    
  }
  .slide.active {
    transition: opacity 3s ease-in-out;
    
    
    z-index: 1;
  }
