*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: 'Montserrat', sans-serif;
}
body{
    
}
#one{
    display: flex;
    flex-wrap: wrap;
    
}
#logo{
    padding: 12px 15px;
    float: left;
}
#navbar{
    height: 75px;
    width: 100%;
    box-shadow: 0px 4px 10px #00000071;
    
}
.navlink{
    text-decoration: none;
    padding: 26px 26px;
    float: left;
    font-size: 18px;
    color: black;
}
.navbtn{
    float: right;
    padding: 10px;
    margin: 20px;
    text-decoration: none;
    background-color: #175DA8;
    color: white;
    border-radius: 5px;
}
#banner{
    background-color: #175DA8;
    height: 50px;
    width: 100%;
    
    display: flex;
   
}
#banner>div{
    padding: 15px 110px;
}
#banner>div>label{
    display: inline;
    color: white;
    font-size: 15px;
}
#phonelink{
    color: white;
    text-decoration: none;
    padding-left: 10px;
    float: right;
}
#blue{
    position: absolute;
}
#green{
    position: absolute;
}
#content{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}
#banking{
    width: 50vw;
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#bankimg{
    width: 503px;
    align-self: center;
    justify-self: center;
    padding-top: 25px;
}
#bankh1{
    font-size: 20px;
    text-align: right;
    color: #175DA8;
}
#bankh1div{
    width: 30rem;
    height: 5vh;
    justify-self: right;
    
}
#bankimgdiv{
    background-image: linear-gradient(45deg,#36B36A,#FFFFFF);
    width: 573px;
    height: 354px;
    text-align: center;
    border-radius: 10px;
    border-style: solid;
    border-color: #36B36A;
}
#in{
    width: 40vw;
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;
}
#input{
    width: 486px;
    height: 404px;
}

.tablink {
    background-color: #175DA8;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 50%;
    border-radius: 10px 10px 0px 0px;
  }
  .cus{
    background-color: #36B36A;
}
  
  .tablink:hover {
    background-color: #36B36A;
  }
  
  /* Style the tab content */
  .tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
    height: 404px;
    width: 486px;
    border-radius: 10px;
  }
  
  #London {
      background-image: linear-gradient(0deg,rgb(120, 190, 247),#0e4e92);
    
}
  #Paris {
      background-image: linear-gradient(0deg,rgb(128, 253, 159),#1fa858);
      
    }

#loginh1{
    font-size: 30px;
    padding: 10px;
    padding-top: 30px ;
}
#lon{
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#submitbtn{
    display: block;
    text-decoration: none;
    padding: 15px;
    background-color: rgb(2, 9, 66);
    color: white;
    border-radius: 5px;
}
#london2>input{
    width: 329px;
    height: 50px;
    border-radius: 10px;
}
.you1{
    width: 50%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 40vh;
}
.youdiv{
    display: flex;
    width: 501px;
    position: inherit;
    height: 400px;
    background-color: #C6FFDD;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(2, 31, 128);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.youh1{
    width: 450px;
    text-align: center;
    color: #175DA8;
}
#btm{
    width: 100%;
    padding-top: 250px;
}
#botm{
    display: flex;
    height: 75px;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100%;
    box-shadow: 0px -4px 10px #00000071;
}
#botm>div{
    padding: 0px 50px;
}
#botm>div>a{
    text-decoration: none;
    color: black;
    padding: 0px 10px;
}

